@for $i from 1 through 12 {
  .grid-#{$i} {
    grid-template-columns: repeat($i, 1fr);
  }
}
.container > main {
  &:only-child {
    > .calendars {
      border-radius:var(--ui-radius);
      border: 1px solid var(--color-border-default);
      padding-bottom: 18px;
    }
  }
}
.calendars {
  display: grid;
  background-color: var(--color-bg-default);
  border-radius:var(--ui-radius) var(--ui-radius) 0 0;
  border-left: 1px solid var(--color-border-default);
  border-right: 1px solid var(--color-border-default);
  border-top: 1px solid var(--color-border-default);

  &.grid-1 { /* when on mobile or single grid */
    > .calendar {
      > .header {
        > .month-name {
          text-align: center;
        }
        > .previous-button {
          order: -1;
        }
      }
    }
  }
  &:not(.grid-1) {
    .calendar {
      > .header {
        .month-name {
          order: 2;
          text-align: center;
        }

        .previous-button {
          order: 1;
          visibility: hidden;
        }

        .next-button {
          order: 3;
          visibility: hidden;
        }
      }

      &:first-child {
        > .header {
          .previous-button {
            visibility: visible;
          }
        }
      }

      &:last-child {
        > .header {
          .next-button {
            visibility: visible;
          }
        }
      }
    }
  }
}

.calendar {
  padding: 18px 18px 0;
  > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 22px;
    column-gap: 5px;

    .month-name {
      flex: 1;
      font-weight: 500;
      font-size: 15px;

      > span {
        font-weight: bold;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid transparent;
      background-color: transparent;
      color: var(--color-fg-default);
      padding: 4px 7px;
      border-radius: 2px;
      cursor: pointer;

      &:hover {
        background-color: var(--color-btn-primary-disabled-bg);

        > svg,
        > img {
          color: var(--color-fg-default);
          fill: var(--color-fg-default);
        }
      }

      > svg,
      > img {
        pointer-events: none;
        color: var(--color-fg-default);
        fill: var(--color-fg-default);
        transform: scale(0.7);
      }
    }
  }

  > .days-grid,
  > .daynames-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 2px;

    > .day,
    > .dayname {
      cursor: default;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 13px;
    }
  }

  > .daynames-row > .dayname {
    color: var(--color-fg-default);
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }

  > .days-grid > .day {
    cursor: pointer;
    padding: 10px 0;
    border: 1px solid transparent;
    border-radius: var(--ui-radius-day);
    width: var(--day-width);
    min-width: var(--day-width);
    max-width: var(--day-width);
    height: var(--day-height);
    min-height: var(--day-height);
    max-height: var(--day-height);

    &:hover {
      border: 1px solid rgba(204,0,0,.33);
      color: var(--color-fg-default);
      background-color: rgba(204,0,0,.12)
    }

    &.today {
      color: var(--color-fg-accent);
      font-weight: bold;
    }

    &.selected {
      background-color: var(--color-fg-primary);
      color: var(--color-fg-selected);
    }
  }
}

@media (max-width: 480px) {
  .container:not(.inline) {
    transform: scaleY(0) !important;
    transform-origin: bottom center !important;

    &.show {
      position: fixed !important;
      bottom: 0 !important;
      top: auto !important;
      left: 0 !important;
      right: 0 !important;
      transform: scaleY(1) !important;
    }
  }
  .container {
    width: 100%;
  }
  .calendars {
    grid-template-columns: repeat(1, 1fr);

    .calendar {
      box-sizing: border-box;
      width: 100%;

      &:nth-child(n + 2) {
        display: none;
      }

      > .days-grid > .day {
        width: auto;
        height: auto;
        min-width: unset;
        max-width: unset;
        min-height: unset;
        max-height: unset;
      }

      > .header:not(.no-next-month) .next-button {
        visibility: visible;
      }
    }
  }
}
