:host {
  --color-bg-default: #fff;
  --color-bg-secondary: #F8F8F8;
  --color-fg-default: #1B1C1D;
  --color-fg-primary: #cc0000;
  --color-fg-secondary: #1B1C1D;
  --color-fg-selected: #fff;
  --color-fg-muted: rgb(27, 28, 29,.33);
  --color-fg-accent: #e63757;

  --color-btn-primary-bg: #cc0000;
  --color-btn-primary-fg: #fff;
  --color-btn-primary-border: #cc0000;

  --color-btn-primary-hover-bg: #cc0000;
  --color-btn-primary-hover-fg: #fff;
  --color-btn-primary-hover-border: #cc0000;

  --color-btn-primary-disabled-bg: rgba(27, 28, 29,.12);
  --color-btn-primary-disabled-fg: #1B1C1D;
  --color-btn-primary-disabled-border: #1B1C1D;


  --color-btn-secondary-bg: #fff;
  --color-btn-secondary-fg: #1B1C1D;
  --color-btn-secondary-border: #1B1C1D;

  --color-btn-secondary-hover-bg: #1B1C1D;
  --color-btn-secondary-hover-fg: #fff;
  --color-btn-secondary-hover-border: #1B1C1D;

  --color-btn-secondary-disabled-bg: rgba(27, 28, 29,.12);
  --color-btn-secondary-disabled-fg: #1B1C1D;
  --color-btn-secondary-disabled-border: #1B1C1D;


  --color-border-default: #75777B;
  --color-border-locked: #f9f9f9;

  --day-width: 42px;
  --day-height: 37px;
  --border-radius: 2px;

  --button-radius: 16px;
  --ui-radius: 16px;
  --ui-radius-day: 8px;

  /* @deprecated */
  --primary-color: #6b82ff;
  --secondary-color: #748194;
  --white-color: #fff;
  --black-color: #333;
  --lightgray-color: #f9f9f9;
  --gray-color: #9e9e9e;
  --red-color: #e63757;
}
